.card-company {
  display: flex;
  background: #fff;
  margin: gr(30) gr(40);
  border-radius: 2px;
  .image {
    img {
      max-width: gr(180);
      padding: gr(20);
      box-sizing: content-box;
    }
  }
  .box-info {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .company-name {
      // ont-family: Roboto;
      font-size: gr(30);
      font-weight: 600;
      color: #1a0e49;
    }
    .company-type {
      font-size: gr(25);
      color: #8d8c8c;
    }
    .company-county {
      font-size: gr(20);
      color: #8d8c8c;
    }
  }
}