.home-page {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .content-page-home {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: #383743;
      font-size: gr(32);
      line-height: 1.22;
      letter-spacing: gr(-0.45);
    }
  }
}